ul{
    margin:0px; padding:0px;
}
ul li a{
    text-decoration:none;
    color:white;
    display:block;

}
ul li{
     float:left;
     width:100px;
     height:40px;
     background-colour:black;
     font-size:20px;
     line-height:40px
     text-align:center;
     opacity:8;
}
ul li a:hover{
     background-colour:orange;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
 	display:block;
}
